# all
.DS_Store
.idea
.vscode

# echarts
echarts/node_modules
echarts/dist
echarts/npm-debug.log*
echarts/yarn-debug.log*
echarts/yarn-error.log*
echarts/pnpm-debug.log*

# backend
backend/config/config.yaml
