# all
.DS_Store
.idea
.vscode

# frontend
frontend/node_modules
frontend/dist
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
frontend/pnpm-debug.log*

# backend
backend/config/config.yaml
backend/logs
